@font-face {
    font-family: 'Pixel Mix';
    src: url(../../../dist/assets/fonts/pixelmix.ttf);
}
html {
    font-size: 10px;
}

body {
    font-family: 'Pixel Mix', monospace;
}

a {
    transition: all 0.3s;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
